body {
  background: linear-gradient(to right bottom, #ff9933, #ffffff, #138808);
}

#main {
  margin: auto;
  width: 70%;
  line-height: 1.6;
  font-family: Ubuntu, sans-serif;
}

header,
figure,
#timelinehead,
#resource {
  text-align: center;
}

#img-div {
  text-align: center;
}

#image {
  max-width: 100%;
  min-width: 60px;
  width: 50%;
  height: auto;
  border: 2px solid #138808;
  border-radius: 5px;
  box-shadow: 5px 3px 2px 0px #ff9933;
}

#img-caption {
  text-shadow: 5px 3px 2px #ff9933;
}

p {
  text-align: justify;
}

h2 {
  color: #303030;
  border-bottom: 3px solid #138808;
  margin: 5px 140px 3px 140px;
}

a {
  color: revert;
  text-decoration: none;
}

a:visited {
  color: #ff9933;
}

#tribute-info {
  margin: auto;
  width: 90%;
}

h1 {
  font-family: "Times New Roman", sans-serif;
}

#resource {
  margin-top: 50px;
}

img {
  display: block;
  margin: auto;
}