/*input {*/
/*width: 100%;*/
/*}*/

/*label {*/
/*display: block;*/
/*}*/

.formfield {
  border: solid 2px black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formfield:hover {
  animation: 100ms ease-out scale forwards;
}

.formfield label, .formfield input {
  margin: 5px 2px 5px 2px;
}


.formfield input {
  height: 30px;
}

.radiofield label, .checkfield label {
  position: relative;
  top: -8px;
}

#description {
  
}

@media (min-width: 500px) {
  body {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%
  }
}
 @media (max-width:500px) {
  body {
    width: 100%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
 }

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.017);
    box-shadow: 2px 2px 2px 3px grey;
  }
}
